<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetic Predictor</title>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  /> 
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg">            
            <a class="navbar-brand" href="index.html">Home</a>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4 heading">Diabetic Predictor</h1>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h3>Diabetes ------ </h3>

                <p>
                   Enter information on project and data
                </p>
              </div>
            </div>
          </div>
          <div class="h-divider"></div>
          <div class="container-fluid">
            <div class="row" style="justify-content: center;">
              <div class="col-md-5" style="padding: 20px;">
                <form action="{{ url_for('predict') }}" method="POST">
                  <ul>
                    <li>
                      <label for="pregnancies">Number of Pregnacies</label>
                      <input class="form-input" type="text" name="pregnancies" placeholder="0"><br>
                    </li>
                    <li>
                        <label for="glucose">Glucose(mg/dL)</label>
                        <input class="form-input" type="text" name="glucose" placeholder="80"><br>
                    </li>
                    <li>
                        <label for="bloodpressure">Blood Pressure(mmHg)</label>
                        <input class="form-input" type="text" name="bloodpressure" placeholder="120"><br>
                    </li>
                    <li>
                        <label for="skinthickness">Skin Thickness(mm) </label>
                        <input class="form-input" type="text" name="skinthickness" placeholder="4"><br>
                    </li>
                    <li>
                        <label for="insulin">Insulin Level(IU/mL)</label>
                        <input class="form-input" type="text" name="insulin" placeholder="10"><br>
                    </li>
                    <li>
                      <label for="bmi">Body Mass Index(kg/m2)</label>
                      <input class="form-input" type="text" name="bmi" placeholder="25"><br>
                  </li>
                  <li>
                    <label for="dpf">Diabetes Pedigree Function</label>
                    <input class="form-input" type="text" name="dpf" placeholder="0.33"><br>
                </li>
                <li>
                  <label for="age">Age(years)</label>
                  <input class="form-input" type="text" name="age" placeholder="21"><br>
              </li>
              <li>
                <button style="width: 100%;" type="submit" class="btn btn-dark">Predict</button>
              </li>
          </ul>
        </form>
              </div>         
            </div>
          </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="static/js/data.js"></script>
    <script src="static/js/app.js"></script> -->
</body>
</html>